 <div class='prod-wrap' id='{{pid}}'>
                 <div class='prod-pic'>
                 <img src='{{url}}'>
                 </div>
                 <div class='prod-details'>
					{{ptext}}
                 </div>
                 <div class='prod-ops'>
                    <img src="../images/minus.png"></img>
                    <div class="pcount">1</div>
                    <img src="../images/plus.png"></img>
                 </div>
                 <div class='prod-cart'>
                    <input type="button" id="cartadd" value="add to cart">
                 </div>
 </div>
             
